.padlock {
  aspect-ratio: 1 / 1;
  width: 15px;
  position: absolute;
  align-self: center;
  right: 10px;
}

.room {
  transform: scale(1);
  transition: transform 0.5s, opacity 0.5s;
}

.room:active {
  opacity: 0.7;
  transform: scale(0.98);
}