:root {
  --color00: rgb(40, 40, 40);
  --color01: rgb(0, 0, 0);
  --color02: rgb(250, 250, 250);
  --color03: rgb(255, 255, 255);
  --color04: rgb(20, 20, 20);
}

#console {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: var(--color04);
  border-radius: 10px;
  border: solid 2px white;
  display: flex;
  flex-direction: column;
  max-height: 350px;
  min-width: 300px;
  width: 40%;
  touch-action: none;
  box-sizing: border-box;
  padding: 10px;
  gap: 10px;
}

#console-title {
  color: white;
  margin: 0;
}

#console-logs {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  overflow-y: scroll;
}

.log {
  background-color: var(--color02);
  padding: 5px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}

body {
  background-color: var(--color01);
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: var(--color00);
  border-radius: 10px;
  color: var(--color03);
  text-align: center;
}

main {
  background-color: var(--color04);
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  margin: 20px;
  padding: 10px;
  align-self: center;
  width: 90%;
  max-width: 600px;
}

section {
  align-items: stretch;
  background-color: var(--color00);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  padding-bottom: 25px;
}

button, a.btn {
  background-color: var(--color01);
  border-radius: 10px;
  border: none;
  color: var(--color02);
  text-align: center;
  text-decoration: none;
  padding: 10px;
  margin: 0px;
  transition: transform 0.5s, padding 0.5s;
  
  webkit-user-select: none;  /* Chrome, Safari, Opera */
  -moz-user-select: none;     /* Firefox */
  -ms-user-select: none;      /* Internet Explorer/Edge */
  user-select: none;          /* Padrão moderno */
  -webkit-user-drag: none;
}

button:active, a.btn:active {
  transform: scale(0.95);
}

form {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 10px;
  width: 100%;
}

form button {
  grid-column: 1 / 3;
}

form label, label {
  color: var(--color02);
  grid-column: 1;
  margin: 0px;
}

form input {
  width: 100%;
  box-sizing: border-box;
  margin: 0px;
}

.field {
  display: grid;
  align-items: center;
  justify-items: center;
}

input, .switch-container {
  grid-column: 2;
}

.switch-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#chat,
#message-input {
  width: 100%;
  box-sizing: border-box;
}

/*PAINEL*/

.painel {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.painel-title {
  background: var(--color01);
  border-radius: 5px 5px 0px 0px;
  color: var(--color03);
  padding: 5px 15px;
  margin: 0px;
}

.painel-table {
  position: relative;
  background: var(--color00);
  border: 2px solid var(--color01);
  border-radius: 0px 0px 5px 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style-type: none;
  padding: 5px;
  margin: 0px;
}

.painel-item {
  background: var(--color02);
  border-radius: 5px;
  padding: 2px 20px;
}


.submit-btn {
  grid-column: 1 / 3;
}

#create-room-message {
  padding: 10px;
}

.success, .failure {
  text-align: center;
  border-radius: 10px;
  padding: 2px 20px;
  align-self: center;
}

.success {
  background-color: green;
}

.failure {
  background-color: red;
}

.hidden {
  display: none;
}

/*SWITCH*/

.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    inset: 0;
    background: #888;
    border-radius: 999px;
    cursor: pointer;
    transition: .2s;
  -webkit-tap-highlight-color: transparent; 
}

.slider::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: 3px;
    top: 3px;
    background: white;
    border-radius: 50%;
    transition: .2s;
}

.switch input:checked + .slider {
    background: #4caf50;
}

.switch input:checked + .slider::before {
    transform: translateX(24px);
}

a:focus, a:active {
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}
 